.node {
  fill: lightsteelblue;
  stroke: steelblue;
  cursor: pointer;

  circle {
    stroke-width: .3px;
  }

  &.branch-active {
    fill: yellow;
    background-color: #ccc;
    text {
      display: block;
    }
  }

  &.node-active {
    fill: blue;
    stroke: darkblue;
  }

  text {
    display: none;
    fill: black;
    stroke-width: 0px;
    font: 1.2px sans-serif;
  }
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: .2px;
  &.active {
    stroke: black;
  }
}
